*{
    box-sizing: border-box;
    margin:0 auto;
}

body{
    width:950px;
    font-family:'Malgun Gothic';
    font-size:12px;
}

.blind{
opacity:0;
height:40px;
}

a{
    color:inherit;
    text-decoration: none;
}

ul{
    padding:0;  
    list-style:none;
    
}

.top{
    position:relative;
    height:120px;
}


.topnav{
    /* display:flex;
    flex-direction: row;
    justify-content: flex-start; */
    text-align:right;
    height:37px;
    line-height:22px; 
}

.topnav img{
  vertical-align:top;   
}


.langsite{
    background-color:#999999;
    display:inline-block;
    color:white;
}

.langsite a:first-child{
    padding-left:2px;
}

.langsite a:last-child{
    padding-right:2px;
}

.langsite a::after{
    content:' | ';    
}

.langsite a:last-child::after{
    content:'';
    clear:right;
}

input{
    background-color: #D2D2D2;
    border: 1px solid #c1c1c1;
    margin-right: 2 px   ;
    
}

#logomark img{
    width:256px;
    height:auto;
    /* display:flex;
    justify-content: flex-start; */
}

#searchbar{
   position:absolute;
   bottom:30px;
   right:0;
   display:flex;
   justify-content:flex-end;
   align-items: flex-start;
}
 
    
.mainnav,.highlight{
    position:relative;
}

.navdetail{
    list-style: none;
    display:flex;
    align-items: center;
    padding:0;
    top:7px;
    position:absolute;

}

.navdetail li{
    width:141px;
    text-align: center;
    flex-shrink: 0;
}
.navdetail li:last-child{
    width:104px;
}

.themes{
    display:flex; 
    justify-content: flex-start;
    position:absolute;
    top:15px;  
    left:25px;
}

.theme2, .theme3, .theme4{
    padding-left:5px;
}

.thisweek{
    width:195px;
}

.thisweek img{
    vertical-align: middle;
}

.thisweekdesc{
    font-family: 'dotum','sans-serif';
    font-weight:bold;
    font-size:12px;
    color:#FFF;
    line-height: 1;
}

.thisweek li{
    margin-bottom:12px;
}
.special{
    margin-left:16px;
}

.highlight ul, .special{
    position:relative;
    display:block;
    margin-top:8px;
}



/* 컨텐츠 라인 */
.contents{
    display:flex;
    height:330px;
}

.contentleft{
    width:418px;
    border-right:1px solid #e5e5e5;

}

.bibleresearch{
    background:url(./assets/titleResearch.jpg);
    background-repeat: no-repeat;
    height:117px;
}

.beliefguide{
    background:url(./assets/titleGuide.jpg);
    background-repeat: no-repeat;
    height:119px;
}

.beliefraise{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
}


.contentcenter{
    width:289px;
    border-right:1px solid #e5e5e5;
}

.hovering{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#f7f7f7;
}

.hovering div{
    width:142px;
    height:26px;
    border-bottom:1px solid  #e5e5e5;
    font-size:12px;
    line-height: 210%;
    text-align: center;
    font-weight: 900;
    font-family:'Malgun Gothic';
    color:#656565;
}

.hovering div:first-child{   
    border-right:1px solid  #e5e5e5;
    background-color: #FFF;
    color:#000;
} 


/* hover 기능 적용 */
.hovering div:first-child:hover{
    background-color: #FFF;
    color:#000;
}

.hovering div:last-child:hover{
    background-color: #FFF;
    color:#000;
}

/* 호버 관련해서 선택자는 결국 cascading 하는 성질때문에 non-cascade한 선택을 할 수 없음. 
   스크립트 구성필요 */

.domesticaldetail, .overseascaldetail{
    margin-left:30px;
}

.detailrepresent{
    font-size:13px;
    font-weight:bold;
    font-family: 'Verdana';
    letter-spacing: -1px;
    color:#0064b0;;
  
}

.domesticallist{
    font-size:12px;
    color:#337AB7;
    display:flex;
    width:230px;
    margin:0;
   
}

.event img{
    width:240px;
}

.links{
    display:flex;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.linktop, .linkbottom{
    height:39px;
}

.linktop, .linkbottom, .linkcontents{
    display:flex;
    flex-direction: row;
}
.podcast, .rss ,.sns, .ical{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:center;
    margin:0;
    padding:0;  
}
.podcast, .sns{
    width:325px;
}

.rss, .ical{
    width:295px;
}
.linkimage{
    height:27px;
    margin:0 4px;
}
.shortcut{
    width:698px;
    height:80px;
    margin:10px 0 10px 10px;
}

.linkcontents{
    font-size:11px;
    color:#337ab7;
    margin:8px 6px 0 0;
    font-family:'dotum';
}

.linkcontents li{
    padding:1px;
    margin-right:3px;
    letter-spacing: -1px;
}

.appinstall{
    margin:10px 0;
    width:225px;
    height:80px;
    border-left: 1px solid #e3e3e3;
}